* {
  box-sizing: border-box;
}

html, body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  font-size: 4vw;
}

h1, p {
  font-family: Lato;
}

.main-view {
  display: flex;
  width: 100%;
  height: 100%;
}

.col-left {
  width: 60%;
  float: left;
}

.col-right {
  width: 40%;
  float: left;
}

.btn-wide {
  display: inline-block;
  width: 100%;
  padding: 0.5em 0.75em;
  border-radius: 0.5em;
  background: #333;
  color: #eee;
  font-weight: 600;
  font-size: 1em;
  outline: none;
  user-select: none;
  cursor: pointer;
}
.btn-wide:hover {
  background: #555;
}

.limbo-message {
  color: #777;
  font-style: italic;
  font-weight: 500;
  text-align: center;
  padding: 1em;
}

.tally-grid {
  font-size: 5vw;
  display: grid;
  grid-template-columns: 50% 50%;
  justify-items: center;
  column-gap: 0.5em;
  row-gap: 0.5em;
  width: 100%;
  margin-bottom: 1em;
}

.tally-grid .limbo-message {
  grid-column: 1 / 3;
  width: 100%;
}

.tally-counter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-items: center;
  text-align: center;
  width: 3em;
  height: 2em;
  border-radius: 0.5em;
  background: gray;
  color: #eee;
  font-weight: bold;
  cursor: pointer;
  user-select: none;
}

.vote-feed {
  font-size: 3vw;
  height: 100%;
  position: relative;
}

.vote-count {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 2em;
  padding: 0.5em;
  background-color: #333;
  color: #eee;
}

.vote-list {
  position: absolute;
  top: 2em;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 0 0.5em;
  overflow-y: scroll;
  background-color: #ddd;
}

.vote-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 2em;
  padding: 0.25em;
  margin-bottom: 0.25em;
  border-radius: 0.5em;
  background: #eee;
  color: #222;
  box-shadow: 2px 2px rgba(0, 0, 0, 0.5);
}

.vote-item .color {
  border-radius: 0.5em;
  width: 1.5em;
  height: 1.5em;
  background: gray;
}

.user-input {
  font-size: 6vw;
  padding: 0.25em;
}

.user-input input {
  width: 100%;
  font-size: 0.75em;
  padding: 0.1em 0.2em;
  border-radius: 0.25em;
  border: 1px solid #777;
  box-shadow: inset 1px 1px 5px #777;
  outline: none;
}